language: csharp
solution: SoftPhone.sln

env:
 global:
  - EnableNuGetPackageRestore=true
before_install:
  - sudo apt-get install nunit-console
install:
- nuget restore SoftPhone.sln
- nuget install xunit.runners -Version 1.9.2 -OutputDirectory testrunner

script:
- xbuild SoftPhone.sln
- mono ./testrunner/xunit.runners.1.9.2/tools/xunit.console.clr4.exe ./MobileCoach.Tests/bin/Debug/MobileCoach.Tests.dll